@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  animation: fadeIn 1.5s ease-in-out;
}

.line {
    display: flex;
    justify-content: center;
}
.waveContainer {
    position: relative;
    background-color: white; 
  }
  
  .goldWave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  .blockDearGuests {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px; 
    max-width: 550px; 
    margin: 0 auto; 
  }

.textDear {
  font-size: clamp(35px,3vw,50px);
  font-family: 'Sedan', serif;
  font-weight: 400;
}
  
.invitingGuests {
  align-items: center;
  text-align: center;
}
  
.textInviting {
  line-height: 25px;
  font-size: clamp(16px,3vw,22px);
  font-family: 'Raleway',Arial,sans-serif;
  font-weight: 400;
}

.withLove {
  align-items: center;
  text-align: center;
}

.textLove {
  line-height: 25px;
  font-size: clamp(22px,1.5vw,29px);
  font-family: 'Raleway',Arial,sans-serif;
  font-weight: 300;
}

.namesLovers {
  font-size: clamp(35px,3vw,50px);
  font-family: 'Sedan', serif;
  font-style: italic;
  font-weight: 400;
}
